{%  extends 'master.html' %}
{%  block content %}
<div class="list-group">
<p> FUDBALERI</p>
        {% for player in fudbaleri %}
                {{ player.ime }}
                {{ player.prezime }}
                {{ player.golovi }}
                {{ player.asistencije }}
            <p> </p>
        {% endfor %}
</div>
    <div class="list-group">
    <p> TIMOVI</p>
        {% for team in timovi %}
                {{ team.ime_tima }}
                {{ team.osvojeni_poeni }}
<p> </p>
        {% endfor %}
</div>

    </div>
    <div class="list-group">
    <p> KORISNICI</p>
        {% for user in korisnici %}
                {{ user.username }}
                {{ user.name }}
                {{ user.email }}
            <p> </p>
        {% endfor %}
</div>
    <div>Broj fudbalera {{ fudbaleri.count}}</div>
    <div>Broj timova {{ timovi.count}}</div>
    <div>Broj korisnika {{ korisnici.count}}</div>

     <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
{% endblock %}